@media (min-width: 576px) {
  .main-body {
    margin-top: 7rem;
  }

  .intro {
    max-width: 576px;
  }

  .intro-navigation {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
  }

  .intro-main h1 {
    font-size: 6rem;
  }

  .site-nav {
    padding: 1.8rem 0.8rem;
  }

  .projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.8rem;
  }

  .contact-form {
    padding: 2.75rem 2rem;
  }

  .contact-form::after {
    bottom: -1.25rem;
    right: -1.15rem;
  }

  .exp {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;
  }

  .exp-head {
    grid-column: span 4 / span 4;
  }

  .exp-description {
    grid-column: span 8 / span 8;
  }

  .desktop-nav {
    display: flex;
    width: 100%;
    max-width: 980px;
    justify-content: space-around;
    margin: 0 auto;
  }

  .mobile-nav-top {
    display: none;
  }

  .container.site-report {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: var(--scale-8);
  }

  .content {
    grid-column: span 6 / span 6;
  }

  .table-of-contents {
    grid-column: span 2 / span 2;
    margin-bottom: 0;
  }

  @keyframes slide-up-h1 {
    0% {
      height: 0;
    }

    100% {
      height: 7rem;
    }
  }
}

@media (min-width: 960px) {
  .projects-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .exp-head {
    grid-column: span 3 / span 3;
  }

  .exp-description {
    grid-column: span 9 / span 9;
  }
}
